In [22]:
import pandas as pd
import numpy as np

     ax    ay    az  gx   gy  gz   flex    class
0  0.94  0.05  0.01   0    1  -3  47707  Geste_1
1  0.92  0.04 -0.04   9   32  -3  47531  Geste_1
2  0.88  0.00  0.05   7   59   8  47627  Geste_1
3  0.89  0.05  0.08 -13   33   1  47563  Geste_1
4  0.98 -0.05  0.35 -17  138   7  47563  Geste_1

In [25]:
path = 'data_test.csv'
col_name = ['ax', 'ay', 'az', 'gx', 'gy', 'gz', 'flex', 'date', 'time', 'class']

dataset = pd.read_csv(path, names=col_name)
dataset = dataset.drop(columns =['date', 'time'])
dataset.head()

     ax    ay    az  gx   gy  gz   flex    class
0  0.94  0.05  0.01   0    1  -3  47707  Geste_1
1  0.92  0.04 -0.04   9   32  -3  47531  Geste_1
2  0.88  0.00  0.05   7   59   8  47627  Geste_1
3  0.89  0.05  0.08 -13   33   1  47563  Geste_1
4  0.98 -0.05  0.35 -17  138   7  47563  Geste_1

In [26]:
df_grouped = dataset.groupby(dataset.index // 30).agg({
    "ax": [("ax_mean", "mean"), ("ax_std", "std")], 
    "ay": [("ay_mean", "mean"), ("ay_std", "std")], 
    "az": [("az_mean", "mean"), ("az_std", "std")], 
    "gx": [("gx_mean", "mean"), ("gx_std", "std")],
    "gy": [("gy_mean", "mean"), ("gy_std", "std")],
    "gz": [("gz_mean", "mean"), ("gz_std", "std")],
    "flex": [("flex_mean", "mean"), ("flex_std", "std")],
    "class": [("class", "first")],})


df_grouped.columns = [f'{agg}' for _, agg in df_grouped.columns]

In [27]:
df_grouped.head()

,ax_mean,ax_std,ay_mean,ay_std,az_mean,az_std,gx_mean,gx_std,gy_mean,gy_std,gz_mean,gz_std,flex_mean,flex_std,class
0,-0.379000,0.792292,0.009667,0.083686,0.582333,0.316551,4.800000,8.663837,46.400000,53.762954,3.833333,12.600173,40511.066667,5682.830626,Geste_1
1,-0.477333,0.778624,-0.021333,0.065218,0.575333,0.302413,4.666667,12.842100,50.600000,73.546420,4.733333,9.719988,39603.066667,5392.602723,Geste_1
2,-0.529333,0.717048,-0.022333,0.063228,0.568000,0.310255,2.200000,6.149853,49.433333,66.903267,4.400000,15.230641,39213.666667,5275.428561,Geste_1
3,-0.572333,0.735755,-0.012000,0.071409,0.537333,0.281522,4.866667,8.508549,48.700000,65.285131,4.666667,11.618455,40087.466667,5818.829523,Geste_1
4,-0.458667,0.760167,0.001333,0.073472,0.531000,0.342308,4.900000,10.049361,50.733333,67.818690,8.200000,22.186358,40536.166667,5429.901009,Geste_1